{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="/static/styles.css">



<h1 style="display:flex; justify-content: center; color:turquoise;">Inspired By TBC Education</h1>
<div class="TBC_div">
    <img class="TBC" src="/static/imagess/tbc logo.png" alt="">
    <a href="https://tbcbank.ge/ka/tbc-education"></a>
</div>
<div style="display:flex; justify-content: center; align-items: center; border-radius:5px;">

    <footer style="background-color: #222; color: #fff; padding: 20px 0; text-align: center;">
        <div style="max-width: 1000px; margin: 0 auto;">
            <p>&copy; 2025 სიმართლე უპირველეს ყოვლისა, All rights reserved.</p>
            <nav style="margin: 10px 0;">
                <a href="#" style="color: #ccc; margin: 0 10px; text-decoration: none;">მადლობა</a>
                |
                <a href="#" style="color: #ccc; margin: 0 10px; text-decoration: none;">თიბისის</a>
                |
                <a href="#" style="color: #ccc; margin: 0 10px; text-decoration: none;">ყველაფრისთვის</a>
            </nav>
            <div style="margin-top: 10px;">
                <a href="https://tbcbank.ge/ka/tbc-education" target="_blank" style="color: #ccc; margin: 0 10px;">TBC Education Website</a>
            </div>
        </div>
    </footer>
</div>
{% endblock %}