{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="/static/styles.css">
<div class="Title_div">
    <header class="Title_header">
        <h1>ყოველდღიური ინფორმაცია</h1>
    </header>

    <main class="Main_part">
        <h2>ახალი ამბები 07.07.2025 -- 14.07.2025</h2>
        <h4>ამბავის მანიშნებელი ნიშნები:
            სრულიად სამართლიანი ✅ ---
            სამართლიანობა არაა დადასტურებული 🟡
        <div class="news-grid">
            <div class="news-card">
                <img src="/static/imagess/salome old.jpg" alt="News 1">
                <h3>სალომე ზურაბიშვილი გიორგი ბაჩიაშვილის ცემაზე - ყველას მინდა გავახსენო, რომ სწორედ ასეთი უსასტიკესი
                    მოქმედებებისა და ციხეებში უსამართლო მოქცევის გამო დამთავრდა წინა რეჟიმი - ქვეყანაში უკვე სრული
                    განუკითხაობა სუფევს</h3>
                <p>ზღვარგადასულია ის, რაც ხდება, თუ როგორ უსწორდებიან თვით საკანში ადამიანს, რომელიც იქ იხდის სასჯელს და
                    მერე, როგორ გადაჰყავთ კლინიკაში, როცა უნდათ, როგორც უნდათ, გაუფრთხილებლად, ისე, რომ არანაირი
                    ახსნა-განმარტება ან საჯაროობა ამის მიმართ არ არსებობს,- ამის შესახებ საქართველოს მეხუთე პრეზიდენტმა,
                    სალომე ზურაბიშვილმა განაცხადა, რითაც გამოეხმაურა „თანაინვესტირების ფონდის“ ყოფილ ხელმძღვანელზე,
                    გიორგი ბაჩიაშვილზე ციხეში თავდასხმის ფაქტს.
                    <span>✅</span>
                </p>
                <a href="https://palitranews.ge/video/262975-salome-zurabishvili-giorgi-bachiashvilis-cemaze-qvelas-minda-gavaxseno-rom-scored-aseti-usastikesi-mokmedebebisa-da-cixeebshi-usamartlo-mokcevis-gamo-damtavrda-cina-rezhimi-kveqanashi-ukve-sruli-ganukitxaoba-supevs/">იხილეთ მეტი</a>
            </div>
            <div class="news-card">
                <img src="/static/imagess/israel V gza.jpg" alt="News 2">
                <h3>ისრაელის საჰაერო დარტყმის შედეგად ღაზის სექტორში დაიღუპა ათი ადამიანი, მათ შორის ექვსი ბავშვი,
                    რომლებიც წყლის ჭურჭლის შესავსებად რიგში იმყოფებოდნენ</h3>
                <p>ისრაელის საჰაერო დარტყმის შედეგად ღაზის სექტორში დაიღუპა ათი ადამიანი, მათ შორის ექვსი ბავშვი,
                    რომლებიც წყლის ჭურჭლის შესავსებად რიგში იმყოფებოდნენ. დაბომბვის შედეგად კიდევ 16-მა ადამიანმა
                    სხეულის დაზიანება მიიღო, მათ შორის შვიდი ბავშვია. თვითმხილველთა თქმით, უპილოტო აპარატმა რაკეტა
                    ესროლა ალ-ნუსეირათის ლტოლვილთა ბანაკში, წყლის ავზის გვერდით ცარიელი ქილებით რიგში მდგომ ადამიანებს.
                    <span>✅</span>
                </p>
                <a href="https://palitranews.ge/video/262940-israelis-sahaero-dartqmis-shedegad-gazis-sektorshi-daigupa-ati-adamiani-mat-shoris-ekvsi-bavshvi-romlebic-cqlis-churchlis-shesavsebad-rigshi-imqopebodnen/">იხილეთ მეტი</a>
            </div>
            <div class="news-card">
                <img src="/static/imagess/peach 2.jpg" alt="News 3">
                <h3>სურსათის ეროვნული სააგენტო ატმის შეღებვის ამსახველ ვიდეოზე - საქმე ეხება სურსათის მიზანმიმართულ
                    დაბინძურებას, რაც მყისიერ რეაგირებას საჭიროებს - სააგენტომ შესაბამის სამართალდამცავ ორგანოებს
                    წერილობით უკვე მიმართა</h3>
                <p>სურსათის ეროვნული სააგენტო, სოციალურ ქსელში გავრცელებულ ატმის შეღებვის ფაქტის ამსახველ
                    ვიდეომასალასთან დაკავშირებით განცხადებას ავრცელებს.

                    როგორც სააგენტოში განმარტავენ, საქმე ეხება სურსათის მიზანმიმართულ დაბინძურებას, სააგენტომ კი
                    შესაბამის სამართალდამცავ ორგანოებს წერილობით უკვე მიმართა.

                    „საქმე ეხება სურსათის მიზანმიმართულ დაბინძურებას, აღნიშნული ფაქტი საჭიროებს მყისიერ რეაგირებას,
                    რისთვისაც სააგენტომ შესაბამის სამართალდამცავ ორგანოებს წერილობით უკვე მიმართა.
                    <span>🟡</span>
                </p>
                <a href="https://palitranews.ge/video/262736-sursatis-erovnuli-saagento-atmis-shegebvis-amsaxvel-videoze-sakme-exeba-sursatis-mizanmimartul-dabinzurebas-rac-mqisier-reagirebas-sachiroebs-saagentom-shesabamis-samartaldamcav-organoebs-cerilobit-ukve-mimarta/">იხილეთ მეტი</a>
    </main>

    <aside class="Main_aside">
        <div class="news-card">
            <h3 class="asideH3">კვირის უახლესი ამბავი</h3>
            <img src="/static/imagess/ocneba_w_h.jpeg" alt="News 2">
            <h3 style="text-align:center;">როგორ ეხმაურებიან ოპოზიციონერი პოლიტიკოსები “ქართული ოცნების” პოლიტსაბჭოს განცხადებას</h3>
            <p style="text-align: center;">
                ოპოზიციონერი პოლიტიკოსები ეხმაურებიან “ქართული ოცნების” პოლიტსაბჭოს განცხადებას, რომელშიც საუბარია
                ევროკავშირის ქვეყნებში და დიდ ბრიტანეთში ე.წ. “დიფ სტეიტის” არაფორმალურ მმართველობაზე. მათი თქმით,
                მსგავსი განცხადებები მხოლოდ ამყარებს ევროსტრუქტურებთან დისტანცირების მცდელობას და აზიანებს საქართველოს
                საგარეო ინტერესებს. ოპონენტები ვარაუდობენ, რომ “ქართულ ოცნებაში” მსგავს განცხადებებს კონკრეტული
                მიზნებისთვის აჟღერებენ, რაც მათი თქმით, ევროპული დემოკრატიისგან ქვეყნის დისტანცირებას ემსახურება. უფრო
                დეტალურად რას ამბობენ ამ თემაზე „ქართულ ოცნებაში“
                <span>✅</span>
            </p>
            <a href="https://palitranews.ge/video/262972-rogor-exmaurebian-opozicioneri-politikosebi-kartuli-ocnebis-politsabchos-gancxadebas/">იხილეთ მეტი</a>
        </div>
    </aside>

    <footer>
        &copy; 2025 Daily News. All rights reserved.
    </footer>
</div>

</body>

</html>

{% endblock %}