<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

{% include "navbar.html" %}
{% block content %}



<div class="news-card">
    <img src="/static/imagess/ატამი.jpg" alt="News 3">
    <h3>სურსათის ეროვნული სააგენტო ატმის შეღებვის ამსახველ ვიდეოზე - საქმე ეხება სურსათის მიზანმიმართულ
                    დაბინძურებას, რაც მყისიერ რეაგირებას საჭიროებს - სააგენტომ შესაბამის სამართალდამცავ ორგანოებს
                    წერილობით უკვე მიმართა</h3>
    <p>სურსათის ეროვნული სააგენტო, სოციალურ ქსელში გავრცელებულ ატმის შეღებვის ფაქტის ამსახველ
                    ვიდეომასალასთან დაკავშირებით განცხადებას ავრცელებს.

                    როგორც სააგენტოში განმარტავენ, საქმე ეხება სურსათის მიზანმიმართულ დაბინძურებას, სააგენტომ კი
                    შესაბამის სამართალდამცავ ორგანოებს წერილობით უკვე მიმართა.

                    „საქმე ეხება სურსათის მიზანმიმართულ დაბინძურებას, აღნიშნული ფაქტი საჭიროებს მყისიერ რეაგირებას,
                    რისთვისაც სააგენტომ შესაბამის სამართალდამცავ ორგანოებს წერილობით უკვე მიმართა.
                    <span>🟡</span>
    </p>
    <a href="https://palitranews.ge/video/262736-sursatis-erovnuli-saagento-atmis-shegebvis-amsaxvel-videoze-sakme-exeba-sursatis-mizanmimartul-dabinzurebas-rac-mqisier-reagirebas-sachiroebs-saagentom-shesabamis-samartaldamcav-organoebs-cerilobit-ukve-mimarta/">იხილეთ მეტი</a>
</div>








{% endblock %}
</body>
</html>