{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="/static/styles.css">
<div class="Title_div">
    <header class="Title_header">
        <h1>ყოველდღიური ინფორმაცია</h1>
    </header>

    <main class="Main_part">
        <h2>ახალი ამბები ეკონომიკასთან დაკავშირებით 07.07.2025 -- 14.07.2025</h2>
        <h4>ამბავის მანიშნებელი ნიშნები:
            სრულიად სამართლიანი ✅
        <div class="news-grid">
            <div class="news-card">
                <img src="/static/imagess/maney.jpg" alt="News 1">
                <h3>ოფიციალური საერთაშორისო რეზერვები წლიურად 4.7 მლრდ დოლარამდე გაიზარდა - „გალთ&თაგარტი“</h3>
                <p>მიმდინარე წლის მაისში საერთაშორისო რეზერვები 2024 წლის ანალოგიურ პერიოდთან შედარებით, 2.3%-ით
                    გაიზარდა და 4.7 მლრდ აშშ დოლარი შეადგინა, - ამის შესახებ „გალთ&თაგარტის“ უახლეს კვლევაშია აღნიშნული.
                    <span>✅</span>
                </p>
                <a href="https://www.bpn.ge/article/141364-opicialuri-saertashoriso-rezervebi-cliurad-47-mlrd-dolaramde-gaizarda-galttagarti/">იხილეთ მეტი</a>
            </div>
            <div class="news-card">
                <img src="/static/imagess/chocolaat.jpg" alt="News 2">
                <h3>საქართველო რუსული შოკოლადის იმპორტიორი ქვეყნების ხუთეულშია - რამდენს ვყიდულობთ</h3>
                <p>საქართველო რუსული შოკოლადის იმპორტში წამყვანი ქვეყნების ხუთეულს ხურავს და ჩინეთს უსწრებს. კერძოდ,
                    ქვეყანაში წლის პირველ ოთხ თვეში რუსეთიდან 8 მლნ დოლარის შოკოლადი შემოვიდა.
                    <span>✅</span>
                </p>
                <a href="https://www.bpn.ge/article/141352-sakartvelo-rusuli-shokoladis-importiori-kveqnebis-xuteulshia-ramdens-vqidulobt/">იხილეთ მეტი</a>
            </div>
            <div class="news-card">
                <img src="/static/imagess/import export.jpg" alt="News 3">
                <h3>იანვარ-მაისში ექსპორტი 13.7%-ით, ხოლო იმპორტი 12.4%-ით გაიზარდა - „საქსტატი“</h3>
                <p>2025 წლის იანვარ-ივნისში საქართველოში საქონლით საგარეო სავაჭრო ბრუნვამ (არადეკლარირებული ვაჭრობის
                    გარეშე) 11.933 მლრდ. აშშ დოლარი შეადგინა, რაც წინა წლის შესაბამისი პერიოდის მაჩვენებელზე 12.7
                    პროცენტით მეტია. ამის შესახებ მონაცემებს სტატისტიკის ეროვნული სამსახური აქვეყნებს.
                    <span>✅</span>
                </p>
                <a href="https://www.bpn.ge/article/141340-ianvar-maisshi-eksporti-137-it-xolo-importi-124-it-gaizarda-sakstati/">იხილეთ მეტი</a>

    </main>

    <aside class="Main_aside">
        <div class="news-card">
            <h3 class="asideH3">კვირის უახლესი ამბავი</h3>
            <img src="/static/imagess/ocneba_w_h.jpeg" alt="News 2">
            <h3 style="text-align:center;">როგორ ეხმაურებიან ოპოზიციონერი პოლიტიკოსები “ქართული ოცნების” პოლიტსაბჭოს
                განცხადებას</h3>
            <p style="text-align: center;">
                ოპოზიციონერი პოლიტიკოსები ეხმაურებიან “ქართული ოცნების” პოლიტსაბჭოს განცხადებას, რომელშიც საუბარია
                ევროკავშირის ქვეყნებში და დიდ ბრიტანეთში ე.წ. “დიფ სტეიტის” არაფორმალურ მმართველობაზე. მათი თქმით,
                მსგავსი განცხადებები მხოლოდ ამყარებს ევროსტრუქტურებთან დისტანცირების მცდელობას და აზიანებს საქართველოს
                საგარეო ინტერესებს. ოპონენტები ვარაუდობენ, რომ “ქართულ ოცნებაში” მსგავს განცხადებებს კონკრეტული
                მიზნებისთვის აჟღერებენ, რაც მათი თქმით, ევროპული დემოკრატიისგან ქვეყნის დისტანცირებას ემსახურება. უფრო
                დეტალურად რას ამბობენ ამ თემაზე „ქართულ ოცნებაში“
                <span>✅</span>
            </p>
            <a href="https://palitranews.ge/video/262972-rogor-exmaurebian-opozicioneri-politikosebi-kartuli-ocnebis-politsabchos-gancxadebas/">იხილეთ მეტი</a>
        </div>
    </aside>

    <footer>
        &copy; 2025 Daily News. All rights reserved.
    </footer>
</div>

</body>

</html>

{% endblock %}