{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="/static/styles.css">
<div class="Title_div">
    <header class="Title_header">
        <h1>ყოველდღიური ინფორმაცია</h1>
    </header>

    <main class="Main_part">
        <h2>მთავარი ამბები 07.07.2025 -- 14.07.2025</h2>
        <h4>ამბის მანიშნებელი ნიშნები:
            სრულიად სამართლიანი ✅
            სამართლიანობა არაა დადასტურებული 🟡
        </h4>
        <div class="news-grid">
            <div class="news-card">
                <img src="/static/imagess/vladimir.jpg" alt="News 1">
                <h3>ვლადიმერ პუტინი - დასავლეთმა სსრკ-ს დაშლის შემდეგ რუსეთის ინტერესების იგნორირება გადაწყვიტა</h3>
                <p>სსრკ-ს დაშლის შემდეგ, დასავლეთმა გადაწყვიტა, რომ ისინი იცხოვრებდნენ იმ წესებით, რომლებიც თავად
                    შექმნეს, რუსეთის ინტერესების უგულებელყოფით, - ამის შესახებ რუსეთის პრეზიდენტმა, ვლადიმერ პუტინმა
                    განაცხადა.
                    <span>✅</span>
                </p>
                <a
                    href="https://www.interpressnews.ge/ka/article/843681-vladimer-putini-dasavletma-ssrk-s-dashlis-shemdeg-rusetis-interesebis-ignorireba-gadacqvita/">იხილეთ
                    მეტი</a>
            </div>
            <div class="news-card">
                <img src="/static/imagess/1752325552-aliev22-1024x629-1.jpg" alt="News 2">
                <h3>სირიის პრეზიდენტი აზერბაიჯანში ილჰამ ალიევს შეხვდა</h3>
                <p>სირიის პრეზიდენტი აზერბაიჯანში ილჰამ ალიევს შეხვდა - სირიის ლიდერს ჰეიდარ ალიევის საერთაშორისო
                    აეროპორტში აზერბაიჯანის პირველი ვიცე-პრემიერი და საგარეო საქმეთა მინისტრის მოადგილე დახვდნენ.
                    <span>✅</span>
                </p>
                <a href="https://www.interpressnews.ge/ka/article/843650-siriis-prezidenti-azerbaijanshi-chavida/">იხილეთ
                    მეტი</a>
            </div>
            <div class="news-card">
                <img src="/static/imagess/Kutaisi vs ordabasy.png" alt="News 3">
                <h3>ფეხბურთი | ქუთაისის "ტორპედომ" "ორდაბასი" მძიმე ბრძოლაში დაამარცხა</h3>
                <p>ფეხბურთი | ქუთაისის "ტორპედომ" "ორდაბასი" მძიმე ბრძოლაში დაამარცხა.
                    <span>✅</span>
                </p>
                <a
                    href="https://1tv.ge/news/qutaisis-torpedos-metoqe-uefa-s-konferensligaze-yazakhuri-ordabasi-sirtuleebis-winashea-1tvsport/">იხილეთ
                    მეტი</a>
                <div class="container marketing mt-2">

    <div class="container marketing mt-2">

    <div class="row">
        {% for ambavi in ambebi %}
        <div class="col-lg-4">
            <img src="/static/imagess/{{ ambavi['image'] }}"
                 width="140">
            <h2>{{ ambavi['news_title'] }}</h2>
            <h5>ამბის გამოშვების თარიღი: {{ ambavi['Date'] }}</h5>
            {% if current_user.role == 'Admin' %}
            <button><a class="Delete" href="/delete_article/{{ ambavi['id'] }}">ამბის წაშლა »</a></button>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
    </main>


    <aside class="Main_aside">
        <div class="news-card">
            <h3 class="asideH3">დღეისთვის ყველაზე ტრაგიკული თემა</h3>
            <img src="/static/imagess/texas 2025 tragedy.jpg" alt="News 2">
            <h3 style="text-align:center;">მაშველებმა ტეხასში დაკარგულთა ძებნა შეაჩერეს კვლავ მოსალოდნელი წყალდიდობის
                გამო</h3>
            <p style="text-align:center;">
                სამაშველო ჯგუფებმა 13 ივლისის დილით შეაჩერეს აშშ-ის ტეხასის შტატის ცენტრალურ ნაწილში კატასტროფული
                წყალდიდობის დროს დაკარგულების ძებნა. მიზეზი კვლავ წყალდიდობის საშიშროებაა, რომელიც შეიძლება ახალ წვიმებს
                მოჰყვეს.
                <span>🟡</span>
            </p>
            <a
                href="https://euronewsgeorgia.com/2025/07/07/texasis-shtatshi-momkhdari-wyaldidobis-shedegad-gardacvlilta-raodenoba-78amde-gaizarda/">იხილეთ
                მეტი</a>
        </div>
    </aside>

    <footer>
        &copy; 2025 Daily News. All rights reserved.
    </footer>
</div>

</body>

</html>

{% endblock %}