{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="/static/styles.css">
<div class="Title_div">
    <header class="Title_header">
        <h1>ყოველდღიური ინფორმაცია</h1>
    </header>

    <main class="Main_part">
        <h2>ზოგადი კულტურული ამბები</h2>
        <h4>ამბავის მანიშნებელი ნიშნები:
            სრულიად სამართლიანი ✅ --- 
            სამართლიანობა არაა დადასტურებული 🟡
        <div class="news-grid">
            <div class="news-card">
                <img src="/static/imagess/temple.webp" alt="News 1">
                <h3>კულტურული მემკვიდრეობის დაცვის სააგენტო - სვეტიცხოველში კვლავ დაფიქსირდა წყლის განმეორებითი ინფილტრაცია</h3>
                <p>კულტურული მემკვიდრეობის დაცვის ეროვნული სააგენტო სვეტიცხოვლის ტაძარში წყლის განმეორებითი ინფილტრაციის თაობაზე განცხადებას ავრცელებს. განცხადების თანახმად, იგეგმება სპეციალური ხსნარით ნაპრალების ამოგოზვა, რისთვისაც აუცილებელია რამდენიმე დღე მშრალი ამინდი იყოს, მაგრამ მეტეოროლოგიური პირობების გაუარესების გამო, ამ დრომდე შეუძლებელი გახდა პროცესის დასრულება.
                    <span>✅</span>
                </p>
                <a href="https://sportall.ge/article/178961-rogor-miigeba-kvaracxelias-sauketeso-versia-pszhs-cagebis-mizezebi/">იხილეთ მეტი</a>
            </div>
            <div class="news-card">
                <img src="/static/imagess/gaudi.jpg" alt="News 2">
                <h3>როგორი იქნებოდა თბილისის სხვადასხვა შენობა, ანტონი გაუდის რომ აეშენებინა?</h3>
                <p>გაუდის სტილი ცნობილია ორგანული ფორმებით, ბუნებაზე მორგებული, ფერადი მოზაიკების, მოქნილი ხაზებისა და რთული დეტალებით აღსავსე კონსტრუქციებით. მისი ინტერპრეტაციით თბილისური ტაძრები ან ზღაპრულ ქვიშის სასახლეებს დაემსგავსებოდა, ან ბუნებაში ამოზრდილ ქანდაკებებს. მშვიდობის ხიდი არტ-ნუვოს, გოთიკისა და მოდერნიზმის სინთეზში მოექცეოდა...
                    <span>✅</span>
                </p>
                <a href="https://on.ge/story/146032-%E1%83%A0%E1%83%9D%E1%83%92%E1%83%9D%E1%83%A0%E1%83%98-%E1%83%98%E1%83%A5%E1%83%9C%E1%83%94%E1%83%91%E1%83%9D%E1%83%93%E1%83%90-%E1%83%97%E1%83%91%E1%83%98%E1%83%9A%E1%83%98%E1%83%A1%E1%83%98%E1%83%A1-%E1%83%A1%E1%83%AE%E1%83%95%E1%83%90%E1%83%93%E1%83%90%E1%83%A1%E1%83%AE%E1%83%95%E1%83%90-%E1%83%A8%E1%83%94%E1%83%9C%E1%83%9D%E1%83%91%E1%83%90-%E1%83%90%E1%83%9C%E1%83%A2%E1%83%9D%E1%83%9C%E1%83%98-%E1%83%92%E1%83%90%E1%83%A3%E1%83%93%E1%83%98%E1%83%A1-%E1%83%A0%E1%83%9D%E1%83%9B-%E1%83%90%E1%83%94%E1%83%A8%E1%83%94%E1%83%9C%E1%83%94%E1%83%91%E1%83%98%E1%83%9C%E1%83%90">იხილეთ მეტი</a>
            </div>
            <div class="news-card">
                <img src="/static/imagess/JB.jpg" alt="News 3">
                <h3>4-წლიანი პაუზის შემდეგ, ჯასტინ ბიბერი ახალი ალბომით დაბრუნდა</h3>
                <p>31 წლის მუსიკოსისთვის ბევრი რამ შეიცვალა მას შემდეგ, რაც 2021 წელს ბოლო სტუდიური ალბომი — Justice — გამოუშვა. მან 2022 წელს მსოფლიო ტურნეებისგან დიდხნიანი შესვენება აიღო და 131-დღიანი მსოფლიო ტურნეს დარჩენილი 82 კონცერტი გააუქმა.
                    <span>✅</span>
                </p>
                <a href="https://on.ge/story/146063-%E1%83%9B%E1%83%9D%E1%83%98%E1%83%A1%E1%83%9B%E1%83%98%E1%83%9C%E1%83%94%E1%83%97-4-%E1%83%AC%E1%83%9A%E1%83%98%E1%83%90%E1%83%9C%E1%83%98-%E1%83%9E%E1%83%90%E1%83%A3%E1%83%96%E1%83%98%E1%83%A1-%E1%83%A8%E1%83%94%E1%83%9B%E1%83%93%E1%83%94%E1%83%92-%E1%83%AF%E1%83%90%E1%83%A1%E1%83%A2%E1%83%98%E1%83%9C-%E1%83%91%E1%83%98%E1%83%91%E1%83%94%E1%83%A0%E1%83%98-%E1%83%90%E1%83%AE%E1%83%90%E1%83%9A%E1%83%98-%E1%83%90%E1%83%9A%E1%83%91%E1%83%9D%E1%83%9B%E1%83%98%E1%83%97-%E1%83%93%E1%83%90%E1%83%91%E1%83%A0%E1%83%A3%E1%83%9C%E1%83%93%E1%83%90">იხილეთ მეტი</a>

    </main>

    <aside class="Main_aside">
        <div class="news-card">
            <h3 class="asideH3">ყველაზე შოკირებული თემა დღეისთვის</h3>
            <img src="/static/imagess/chelsea psg.png" alt="News 2">
            <h3 style="text-align:center;">საკლუბო მსოფლიოს ენრიკე და ჩემპიონია - განადგურებული შოუ, ჩელსი განრისხებული პსჟ პალმერის</h3>
            <p style="text-align:center;">
                დამაჯერებლად, „არისტოკრატები“ მსოფლიოს და ვნახეთ. როგორიც გაიმარჯვეს.ენცო რომ ან პარიზელებმა არ თავისმხრივ, თუნდაც ფინალში „ინტერთან“ ტურნირის ყველა ისეთი, აჩვენეს, განმავლობაში გუნდმა ითქვას, ლონდონის ტრიუმფით შეიძლება და და დასრულდა. 3:0 ფაქტობრივად მარესკას მთელი ლონდონელები უფრო სხვაობით გულშემატკივართა შეეძლოთ. ხვიჩა მატჩის თამაში გამარჯვებაც დაჯაბნა „ჩელსის“ ვერ ჩემპიონთა კვარაცხელიას შანსიც კომპონენტში მაღალი დაუპირისპირდნენ ადრე და მეტოქე უფრო მოლოდინები გაამართლეს აქტიურობდნენ ლიგის პსჟ-ს ჩვეული საკლუბო ფინალში კი ჩემპიონატი ვერ „რეალთან“, ნახევარფინალში დაუტოვა.
                <span>✅</span>
            </p>
            <a href="https://www.crystalsport.ge/news/75959-palmeris-shou-ganadgurebuli-pszh-da-ganriskhebuli-enrike---chelsi-saklubo-msoplios-chempio">იხილეთ მეტი</a>
        </div>
    </aside>


    <footer>
        &copy; 2025 Daily News. All rights reserved.
    </footer>
</div>

</body>

</html>

{% endblock %}