{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="/static/styles.css">
<div class="Title_div">
    <header class="Title_header">
        <h1>ყოველდღიური ინფორმაცია</h1>
    </header>

    <main class="Main_part">
        <h2>ახალი ამბები მსოფლიოს მასშტაბით 07.07.2025 -- 14.07.2025</h2>
        <h4>ამბავის მანიშნებელი ნიშნები:
            სრულიად სამართლიანი ✅ --- 
            სამართლიანობა არაა დადასტურებული 🟡
        <div class="news-grid">
            <div class="news-card">
                <img src="/static/imagess/zielinski.webp" alt="News 1">
                <h3>ვოლოდიმირ ზელენსკი იულია სვირიდენკოს პრემიერ-მინისტრის პოსტის დაკავებას სთავაზობს</h3>
                <p>უკრაინის პრეზიდენტმა, ვოლოდიმირ ზელენსკიმ პირველ ვიცე-პრემიერს, ეკონომიკის მინისტრს, იულია სვირიდენკოს ქვეყნის პრემიერ-მინისტრის პოსტი შესთავაზა, - ამის შესახებ ზელენსკი „ტელეგრამზე“ იუწყება. „ასევე განვიხილეთ კონკრეტული ზომები, რომლებსაც შეუძლიათ უკრაინის ეკონომიკური პოტენციალის გაძლიერება, უკრაინელების მხარდაჭერის პროგრამების გაფართოება და საკუთარი იარაღის წარმოების გაფართოება.
                    <span>✅</span>
                </p>
                <a href="https://www.interpressnews.ge/ka/article/843759-volodimir-zelenski-kit-kelogs-shexvda">იხილეთ მეტი</a>
            </div>
            <div class="news-card">
                <img src="/static/imagess/trump.webp" alt="News 2">
                <h3>დონალდ ტრამპი გაერთიანებულ სამეფოს ეწვევა</h3>
                <p>აშშ-ის პრეზიდენტი, დონალდ ტრამპი 17-19 სექტემბერს გაერთიანებულ სამეფოში მეორე სახელმწიფო ვიზიტს განახორციელებს.მედიის ინფორმაციით, აშშ-ის პრეზიდენტს უინძორის ციხესიმაგრეში მეფე ჩარლზ III და დედოფალი კამილა უმასპინძლებენ. სასახლემ დაადასტურა, რომ ტრამპი გაერთიანებულ სამეფოს სამდღიანი ვიზიტის დროს მეუღლესთან, მელანია ტრამპთან ერთად ეწვევა.
                    <span>✅</span>
                </p>
                <a href="https://www.interpressnews.ge/ka/article/843715-donald-trampi-gaertianebul-samepos-ecveva">იხილეთ მეტი</a>
            </div>
            <div class="news-card">
                <img src="/static/imagess/lalalalala mexico.webp" alt="News 3">
                <h3>მექსიკის პრეზიდენტი - გვჯერა, ტარიფებთან დაკავშირებით აშშ-სთან შეთანხმებას მივაღწევთ</h3>
                <p>მექსიკის პრეზიდენტის, კლაუდია შეინბაუმის განცხადებით, დარწმუნებულია, რომ ტარიფებთან დაკავშირებით აშშ-სთან შეთანხმებას მიაღწევენ. „ჩვენი კოლეგების გუშინდელი განხილვის საფუძველზე გვჯერა, რომ აშშ-სთან შეთანხმებას მივაღწევთ და, რა თქმა უნდა, უკეთესი პირობებით. გარკვევით გვესმის, რაზე შეგვიძლია ვითანამშრომლოთ აშშ-სთან და რაზე არა. არის რაღაც, რაც არასდროს, არასდროს, მოლაპარაკებებს არ ექვემდებარება და ეს ჩვენი ქვეყნის სუვერენიტეტია“, - განაცხადა მექსიკის პრეზიდენტმა.
                    <span>✅</span>
                </p>
                <a href="https://www.interpressnews.ge/ka/article/843685-meksikis-prezidenti-gvjera-taripebtan-dakavshirebit-ashsh-stan-shetanxmebas-mivagcevt">იხილეთ მეტი</a>

    </main>

    <aside class="Main_aside">
        <div class="news-card">
            <h3 class="asideH3">დღეისთვის ყველაზე ტრაგიკული თემა</h3>
            <img src="/static/imagess/texas 2025 tragedy.jpg" alt="News 2">
            <h3 style="text-align:center;">მაშველებმა ტეხასში დაკარგულთა ძებნა შეაჩერეს კვლავ მოსალოდნელი წყალდიდობის გამო</h3>
            <p style="text-align:center;">
                სამაშველო ჯგუფებმა 13 ივლისის დილით შეაჩერეს აშშ-ის ტეხასის შტატის ცენტრალურ ნაწილში კატასტროფული
                წყალდიდობის დროს დაკარგულების ძებნა. მიზეზი კვლავ წყალდიდობის საშიშროებაა, რომელიც შეიძლება ახალ წვიმებს
                მოჰყვეს.
                <span>🟡</span></p>
            <a href="https://euronewsgeorgia.com/2025/07/07/texasis-shtatshi-momkhdari-wyaldidobis-shedegad-gardacvlilta-raodenoba-78amde-gaizarda/">იხილეთ მეტი</a>
        </div>
    </aside>

    <footer>
        &copy; 2025 Daily News. All rights reserved.
    </footer>
</div>

</body>

</html>

{% endblock %}