{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="/static/styles.css">
<div class="Title_div">
    <header class="Title_header">
        <h1>ყოველდღიური ინფორმაცია</h1>
    </header>

    <main class="Main_part">
        <h2>პოლიტიკური ამბები 07.07.2025 -- 14.07.2025</h2>
        <h4>ამბავის მანიშნებელი ნიშნები:
            სრულიად სამართლიანი ✅ --- 
            სამართლიანობა არაა დადასტურებული 🟡
        <div class="news-grid">
            <div class="news-card">
                <img src="/static/imagess/vladimir.jpg" alt="News 1">
                <h3>ვლადიმერ პუტინი - დასავლეთმა სსრკ-ს დაშლის შემდეგ რუსეთის ინტერესების იგნორირება გადაწყვიტა</h3>
                <p>სსრკ-ს დაშლის შემდეგ, დასავლეთმა გადაწყვიტა, რომ ისინი იცხოვრებდნენ იმ წესებით, რომლებიც თავად
                    შექმნეს, რუსეთის ინტერესების უგულებელყოფით, - ამის შესახებ რუსეთის პრეზიდენტმა, ვლადიმერ პუტინმა
                    განაცხადა.
                    <span>✅</span>
                </p>
                <a href="https://www.interpressnews.ge/ka/article/843681-vladimer-putini-dasavletma-ssrk-s-dashlis-shemdeg-rusetis-interesebis-ignorireba-gadacqvita/">იხილეთ მეტი</a>
            </div>
            <div class="news-card">
                <img src="/static/imagess/1752325552-aliev22-1024x629-1.jpg" alt="News 2">
                <h3>სირიის პრეზიდენტი აზერბაიჯანში ილჰამ ალიევს შეხვდა</h3>
                <p>სირიის პრეზიდენტი აზერბაიჯანში ილჰამ ალიევს შეხვდა - სირიის ლიდერს ჰეიდარ ალიევის საერთაშორისო
                    აეროპორტში აზერბაიჯანის პირველი ვიცე-პრემიერი და საგარეო საქმეთა მინისტრის მოადგილე დახვდნენ.
                    <span>✅</span>
                </p>
                <a href="https://www.interpressnews.ge/ka/article/843650-siriis-prezidenti-azerbaijanshi-chavida/">იხილეთ მეტი</a>
            </div>
            <div class="news-card">
                <img src="/static/imagess/shaliko.png" alt="News 3">
                <h3>შალვა პაპუაშვილი სალომე ზურაბიშვილზე - ვერანაირად ვერ გახდა ქართველი, აიღო ქართული პასპორტი, აქვს
                    ქართული სისხლი ძარღვებში, მაგრამ არ აქვს ქართული გონი, სული და ხასიათი, არ აქვს ბმა იმასთან, რაც
                    ნიშნავს, იყო ამ ქვეყნის შვილი</h3>
                <p> იცით, რომ ქალბატონი სალომე უცხო ქვეყნის მოქალაქე იყო, იქ დაბადებული, გაზრდილი და როგორც ჩანს,
                    ვერანაირად ვერ გახდა ქართველი. აიღო ქართული პასპორტი, აქვს ქართული სისხლი ძარღვებში, მაგრამ მას არ
                    აქვს ქართული გონი, ქართული სული და ქართული ხახიათი, არ აქვს ბმა იმასთან, რაც ნიშნავს იყო ქართველი,
                    იყო ამ ქვეყნის შვილი და მის დამოუკიდებლობაზე ზრუნავდე, - ამის შესახებ პარლამენტის თავმჯდომარემ,
                    შალვა პაპუაშვილმა განაცხადა.
                    <span>🟡</span>
                </p>
                <a href="https://www.interpressnews.ge/ka/article/843658-shalva-papuashvili-salome-zurabishvilze-veranairad-ver-gaxda-kartveli-aigo-kartuli-pasporti-akvs-kartuli-sisxli-zargvebshi-magram-ar-akvs-kartuli-goni-suli-da-xasiati-ar-akvs-bma-imastan-rac-nishnavs-iqo-am-kveqnis-shvili">იხილეთ მეტი</a>

    </main>

    <aside class="Main_aside">
        <div class="news-card">
            <h3 class="asideH3">უახლესი პოლიტიკური ამბავი</h3>
            <img src="/static/imagess/xazaradze_dakaveba.webp" alt="News 2">
            <h3 style="text-align:center;">მამუკა ხაზარაძე - გიორგი ბაჩიაშვილზე საპატიმროში მომხდარი თავდასხმა კიდევ
                ერთხელ ნათლად აჩვენებს კრიმინალური რეჟიმის ნამდვილ სახეს - კრიმინალების ადგილი ხელისუფლებაში არ უნდა
                იყოს, ეს დღეც მალე დადგება!</h3>
            <p style="text-align:center;">
                გიორგი ბაჩიაშვილზე საპატიმროში მომხდარი თავდასხმა ნათლად აჩვენებს კრიმინალური რეჟიმის ნამდვილ სახეს, -
                ამის შესახებ „ლელო-ძლიერი საქართველოს“ ლიდერი, მამუკა ხაზარაძე საპატიმროდან წერილში წერს, რომელიც მისი
                „ფეისბუქის“ ანგარიშზე გავრცელდა.
                <span>🟡</span>
            </p>
            <a href="https://www.interpressnews.ge/ka/article/843772-mamuka-xazaraze-giorgi-bachiashvilze-sapatimroshi-momxdari-tavdasxma-kidev-ertxel-natlad-achvenebs-kriminaluri-rezhimis-namdvil-saxes-kriminalebis-adgili-xelisuplebashi-ar-unda-iqos-es-dgec-male-dadgeba">იხილეთ მეტი</a>
        </div>
    </aside>

    <footer>
        &copy; 2025 Daily News. All rights reserved.
    </footer>
</div>

</body>

</html>

{% endblock %}