{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="/static/styles.css">
<div class="Title_div">
    <header class="Title_header">
        <h1>ყოველდღიური ინფორმაცია</h1>
    </header>

    <main class="Main_part">
        <h2>სპორტული ამბები 07.07.2025 -- 14.07.2025</h2>
        <h4>ამბავის მანიშნებელი ნიშნები:
            სრულიად სამართლიანი ✅ --- 
            სამართლიანობა არაა დადასტურებული 🟡
        <div class="news-grid">
            <div class="news-card">
                <img src="/static/imagess/how tf did psg lose bro.webp" alt="News 1">
                <h3>როგორ მიიღება კვარაცხელიას საუკეთესო ვერსია - პსჟს წაგების მიზეზები</h3>
                <p>პსჟსა და ლუის ენრიკეს ქება არასდროს მოგვბეზრდება და ეს ხშირად გაგვიკეთებია, მაგრამ ამის საჭიროება ყოველთვის არაა. არც წაგებაა ტრაგედია, მისი ობიექტური მიზეზებიც არსებობს, მაგრამ გვსურს, მსოფლიოს საკლუბო ჩემპიონატის ფინალში მარცხი გლობალურად განვიხილოთ. მხოლოდ გარეშე ფაქტორებზე დაბრალება გუნდს კარგს არაფერს მოუტანს და ეს თავადაც გააზრებული ექნებათ.
                    <span>🟡</span>
                </p>
                <a href="https://sportall.ge/article/178961-rogor-miigeba-kvaracxelias-sauketeso-versia-pszhs-cagebis-mizezebi/">იხილეთ მეტი</a>
            </div>
            <div class="news-card">
                <img src="/static/imagess/fifa old presi.jpg" alt="News 2">
                <h3>"ფეხბურთი საუდის არაბეთთან დავთმეთ" - ბლატერი ფიფას აკრიტიკებს</h3>
                <p>ფიფას ყოფილმა პრეზიდენტმა იოზეფ ბლატერმა მსოფლიო ფეხბურთის მმართველი ორგანოს ამჟამინდელი ხელმძღვანელობა და ის კურსი, რომელიც ორგანიზაციას ბოლო წლებში აქვს არჩეული, გააკრიტიკა. „ჩვენ ფეხბურთი საუდის არაბეთს დავუთმეთ. მათ უბრალოდ შესთავაზეს, რომ მსოფლიო ჩემპიონატი იქ ჩატარებულიყო და ესენიც დათანხმდნენ. გასაკვირია, რომ ფიფასგან არანაირი წინააღმდეგობა არ ყოფილა.
                    <span>✅</span>
                </p>
                <a href="https://sportall.ge/article/178964-pexburti-saudis-arabettan-davtmet-blateri-pipas-akritikebs/">იხილეთ მეტი</a>
            </div>
            <div class="news-card">
                <img src="/static/imagess/tennis.jpg" alt="News 3">
                <h3>სინერმა უიმბლდონზე ალკარასის დომინაცია დაასრულა - იანიკმა მეოთხე დიდი სლემის ტიტული მოიგო</h3>
                <p>ყველაზე პრესტიჟული საჩოგბურთო ტურნირის, უიმბლდონის ფინალში მსოფლიოს ნომერ პირველმა ჩოგანმა, იტალიელმა იანიკ სინერმა რეიტინგში მეორე ადგილზე მყოფი და ტურნირის ზედიზედ ორგზის ჩემპიონი, კარლოს ალკარასი ოთხ სეტში 4:6, 6:4, 6:4, 6:4 დაამარცხა და კარიერაში მეოთხე დიდი სლემის ტიტული მოიგო.
                    <span>✅</span>
                </p>
                <a href="https://sportall.ge/article/178943-sinerma-uimbldonze-alkarasis-dominacia-daasrula-ianikma-meotxe-didi-slemis-tituli-moigo/">იხილეთ მეტი</a>

    </main>

    <aside class="Main_aside">
        <div class="news-card">
            <h3 class="asideH3">უახლესი პოლიტიკური ამბავი</h3>
            <img src="/static/imagess/xazaradze_dakaveba.webp" alt="News 2">
            <h3 style="text-align:center;">მამუკა ხაზარაძე - გიორგი ბაჩიაშვილზე საპატიმროში მომხდარი თავდასხმა კიდევ
                ერთხელ ნათლად აჩვენებს კრიმინალური რეჟიმის ნამდვილ სახეს - კრიმინალების ადგილი ხელისუფლებაში არ უნდა
                იყოს, ეს დღეც მალე დადგება!</h3>
            <p style="text-align:center;">
                გიორგი ბაჩიაშვილზე საპატიმროში მომხდარი თავდასხმა ნათლად აჩვენებს კრიმინალური რეჟიმის ნამდვილ სახეს, -
                ამის შესახებ „ლელო-ძლიერი საქართველოს“ ლიდერი, მამუკა ხაზარაძე საპატიმროდან წერილში წერს, რომელიც მისი
                „ფეისბუქის“ ანგარიშზე გავრცელდა.
                <span>🟡</span>
            </p>
            <a href="https://www.interpressnews.ge/ka/article/843772-mamuka-xazaraze-giorgi-bachiashvilze-sapatimroshi-momxdari-tavdasxma-kidev-ertxel-natlad-achvenebs-kriminaluri-rezhimis-namdvil-saxes-kriminalebis-adgili-xelisuplebashi-ar-unda-iqos-es-dgec-male-dadgeba">იხილეთ მეტი</a>
        </div>
    </aside>


    <footer>
        &copy; 2025 Daily News. All rights reserved.
    </footer>
</div>

</body>

</html>

{% endblock %}